.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts {
    border: 1px solid #000;
    max-width: 700px;
}

.show-form-btn {
    border-radius: 5%;
    height: 35px;
    background: #07a302;
    color: #fff;
    border: #07a302;
    margin: 5px;
}

.clear-contacts-btn {
    border-radius: 5%;
    height: 35px;
    background: #c4040e;
    color: #fff;
    border: #c4040e;
    margin: 5px;
}

.close-form-btn {
    border-radius: 5%;
    height: 35px;
    background: #c4040e;
    color: #fff;
    border: #c4040e;
    margin: 5px;
}